.navImgContainer {
    margin-top: 0;
    min-height: 350px;
    max-width: 100%;
    background-image: url("./header.shenanigames.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.navBarLinks {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 28px;
}

.navbar__item {
    border: 1px solid black;
    background-color: black;
    margin: 10px 10px;
    min-height: 4vh;
    max-height: 4vh;
    min-width: 10vw;
    max-width: 10vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__link {
    color: white;
    font-size: 18px;
    text-decoration-line: none;
}

@media screen and (max-width: 600px) {
    .navBarLinks .navbar__item .navbar__link {
      float: right;
      width: 100%;
    }
  }