.navImgContainer {
  margin-top: 0;
  min-height: 350px;
  max-width: 100%;
  background-image: url("../nav/header.shenanigames.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.loginPageTitle {
  position: absolute;
  width: 1404px;
  height: 170px;
  left: 440px;
  top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 206px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 2);
}

.tagLine{
  color: white;
  background-color: black;
  text-align: center;
  font-size: larger;
  font-stretch: 150%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.container--login{
  margin: 30px 0 0 0;
}

h2 {
  background-color: #FFCA3A;
  padding: 10px;
  border-radius: 5px;
}

fieldset {
  min-width: 0;
  padding: 1rem 0;
  margin: 0;
  border: 0;
}

.form--login {
  display: inline-block;
  background-color: #f6f6f6;
  margin: auto;
  padding: 0 25px;
  text-align: left;
  border-radius: 5px;
}

.form--login > fieldset > input[type="email"] {
  width: 25em;
}

.label--login {
  width: 8rem;
  display: inline-block;
  margin: 20px 0;
}

.form-control {
  display: block;
  width: 94%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container--login {
  text-align: center;
}

.form--login {
  background-position-x: right;
  z-index: 1;
  min-height: 25rem;
  min-width: 40rem;
  background-color: hsla(0, 0%, 100%, 0.70);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button--close {
  position: relative;
  bottom: -2rem;
}

.submitButton {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  transition: 0.3s;
  padding: 5px 10px;
  margin: 10px 0 0 0;
}

.submitButton:hover{background-color: #1982C4; color: white;}

a {
  font-family: 'Merriweather', serif;
  text-decoration-line: none;
  color: black;
  font-size: 15px;
}

.registerButton {
  margin: 30px 0 0 0;
  padding: 5px 10px;
}

.submitButton:hover{background-color: #E74009}

a:hover{background-color: black; color: #FFCA3A}


